* {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}

.questions {
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 30px;


}

.main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    transition: 1s;
}

.main h1,
h2 {

    border-radius: 32px;
}

.main h1:hover {
    transform: scale(1.1, 1.5);
}

.choices1 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    text-decoration: none;
    background-color: rgb(32, 32, 138);
    border-radius: 20px;
    font-size: 25px;
    color: white;
    padding: 10px;
    position: relative;
    margin: 15px;
    width: 25%;

}

button:hover {

    background-color: blue;
}

.answer {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 40px;
}


.hide {
    display: none;
}

.score {
    font-size: 40px;
}

#gameInfosection {
    text-align: center;
}

#gameInfosection h1 {
    font-style: oblique;
    font-family: monospace;
    padding: 30px;
    font-size: 25px;
}

#gameInfosection h1 span {

    color: rgb(32, 32, 138);
    font-size: 30px;
}

#start-button {

    padding: 15px;
    margin-top: 100px;
}

.hide-gameinfo {
    display: none;
}


#ask-initial {
    text-align: center;
}

#ask-initial h2 {

    font-size: 40px;
    color: rgb(32, 32, 138);
}

#ask-initial h4 {
    padding: 30px;
    font-size: 25px;
    font-family: monospace
}

#ask-initial form {
    font-size: 20px;
    font-family: monospace
}

#btn-submit {

    background-color: rgb(32, 32, 138);
    font-size: larger;
    color: white;

}

.hide-ask-initial {
    display: none;
}

.highscorepage-hide {
 
 display: none;

}

#viewscorepage h1 {

    align-items: center;
    text-align: center;
    font-size: 50px;
    color: rgb(32, 32, 138);;
}

.view-scoretime-hide{
    display: none;
}



#viewscorepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


   
}

.score{

    

}